*{
  padding: 0;
  margin: 0;
}
body{
  background-image: url(/assets/img/plage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo img{
  margin-top: 30px;
  margin-bottom: 20px;
  width: 140px;
}

.main{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  /* background-color: red; */
  text-align: center;
  justify-content: center;
  width: 600px;
 
}

.titre{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-bottom: 40px;
}
.abo ul li{
  color: white;
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 7px 0;
  text-align: justify;
}

.abo ul li img{
  height: 20px;
  padding-right: 10px;
}

form{
  background-color: red;
}
.login{
  position: relative;
  display: flex;
  flex-direction: column  ;
  justify-content: center;
}

.login input{
  text-indent:30px;
  border: none;
  height: 50px;
}

.liseret{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  height: 1px;
  background-color: #e0e0e0;
}

.login .mail{
  position: relative;
  width: 100%;
}

.login .password{
  position: relative;
  width: 100%;
}

.login i{
  position: absolute;
  left: 10px;
  top: 17px;
}

